// .wrapper {
//   background-color: white;
//   margin: 8.1rem 12rem;
// }

.modest {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  &-title {
    text-align: left;
    font-size: 3.6rem;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 3.4rem;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 1rem;
      border: 0.6rem solid #e1e6ea;
      height: 4.8rem;
      vertical-align: middle;
    }
  }

  &-desc {
    margin: 3.4rem 0;
  }

  .social-list {
    display: flex;
    gap: 2px;
    // margin-left: 3rem;
  }

  &-main {
    display: flex;
    justify-content: center;
  }

  // .modest-right {
  // margin-top: rem;
  //   display: flex;
  //   gap: 2rem;
  // }
  .target {
    display: flex;
    gap: 2rem;

    &-main {
      h3 {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

// RESPONSIVE
// Mobile and Tablet (width < 1024px)
@media only screen and (max-width: 63.9375em) {
  
  .modest-right {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 46.1875em) {
  .social-list {
    justify-content: center;
  }
  .modest-desc {
    margin: 1rem 1.5rem;
  }
  .modest-right {
    .target {
      margin: 0 1.5rem;
    }
  }
}
