/*SERVICES: */
.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 21%;
}

.services {
  &-head {
    h2 {
      width: 82%;
      height: 5rem;
      line-height: 5rem;
      margin-left: 14rem;
      margin-top: 8rem;
      font-size: 2.5rem;
      font-weight: 400;
      text-transform: uppercase;
      img {
      }
    }
  }

  &-list {
    .services-box {
      margin-bottom: 10rem;

      &:first-child {
        margin-top: 5.4rem;
      }

      .services-item {
        img {
          display: block;
          margin: 0 auto;
          &:hover {
            cursor: pointer;
          }
        }

        h2 {
          text-align: center;
          margin-top: 3rem;
          margin-bottom: 2.5rem;
        }

        p {
          color: #b0b1b3;
          text-align: center;
        }
      }
    }
  }
}

// RESPONSIVE:

// tablet:
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 34%;
  }
}
// mobile:
@media screen and (max-width: 739px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 60%;
  }
}
