// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeSpeed;
  }
  
  body {
    font-size: 1.6rem;
    min-height: 100vh;
    color: rgba(22, 24, 35, 1);
    direction: ltr;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
  }
  /*-------------------*/