* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: rgb(22, 24, 35);
  direction: ltr;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}

/*-------------------*/
.wrapper {
  background-color: #3a454d;
}

.work {
  padding: 5rem 0;
  text-transform: uppercase;
  text-align: center;
}
.work__title {
  text-align: left;
  font-size: 3.6rem;
  color: #fff;
}
.work__title::before {
  margin-right: 1rem;
  content: "";
  border: 0.6rem solid #4e5a62;
}
.work__button {
  text-transform: uppercase;
  background-color: #3a454d;
  font-size: 1.4rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.work__button:hover {
  opacity: 0.5;
}

.work__items {
  position: relative;
  cursor: pointer;
}
.work__items:hover .work__items-title {
  opacity: 1;
}
.work__items:hover .work__items-detail {
  opacity: 1;
}
.work__items img {
  width: 100%;
  display: block;
}
.work__items-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #292f36;
  color: white;
  width: 100%;
  padding: 2rem;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.work__items-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10rem 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 2.5rem;
}