//  <!-- Kong: Part 2: start slider -->
.slider {
    position: relative;
    display: block;

    height: 66rem;
    color: #fff;
    background-image: url(/assets/img/slider/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    &-content {
        padding: 5rem 0;
        position: absolute;
        width: 1305px;
        top: 50%;
        // left: 38rem;
        // right: 38rem;
        transform: translateY(-50%);



        h2 {
            font-size: 3.6rem;
            font-weight: normal;
            // letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 3.6rem;
        }

        p {
            display: block;
            width: 64.5rem;
            padding-bottom: 3.6rem;
            font-size: 1.7rem;
        }
    }

    &-btn {

        button {
            width: 12.5rem;
            height: 4rem;
            border-radius: 4px;
            color: #fff;
            background: content-box;
            border: 2px solid #fff;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
        }

        button:hover {
            border: none;
            background-color: #23b7a4
        }
    }


}

.pagination {
    position: fixed;
    right: 0;
    bottom: 0;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.p2 a {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    padding: 0;
    margin: auto 5px;
    text-align: center;
    position: relative;
    background: content-box;
    border: 2px solid #fff;
}

.p2 a:hover {
    background-color: #fff;
}

// .p2 .is-active {
//     background-color: #fff;
// }

// Responsive
@media only screen and (max-width: 1024px) {
    .slider {
        margin: 4rem 0;
    }

    .slider-content {
        left: 6rem;
        width: 800px;
    }

    .slider-content h2 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .slider-content p {
        // display: block;
        width: 80rem;
        padding-bottom: 2.5rem;
        font-size: 1.5rem;
    }

    .slider-btn {
        display: flex;
        flex-direction: column;

    }
}

@media only screen and (max-width: 768px) {
    .slider {
        min-height: 30rem;
        max-height: 50rem;
        margin: 2rem 0;
    }

    .slider-content {
        left: 3rem;
        width: 500px;
    }

    .slider-content h2 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .slider-content p {
        width: 50rem;
        padding-bottom: 2.5rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .slider {
        min-height: 20rem;
        max-height: 30rem;
    }

    .slider-content {
        left: 1.5rem;
        width: 200px;
    }

    .slider-content h2 {
        font-size: 1.5rem;
        letter-spacing: 0.5px;
    }

    .slider-content p {
        width: 20rem;
        padding-bottom: 2rem;
        font-size: 1rem;
    }
}

// <!-- Kong: Part 2: End --> 



// <!-- ==========Tân: Part 4 - Start MEET THE TEAM ========== -->
.meet {
    padding: 5rem 0;
    margin-bottom: 3rem;

    &__title {
        text-align: left;
        font-size: 3.6rem;
        color: #292f36;
        text-transform: uppercase;

        &::before {
            content: '';
            display: inline-block;
            margin-right: 1rem;
            border: 0.6rem solid #e1e6ea;
            height: 4.8rem;
            vertical-align: middle;
        }
    }

    &__card {
        position: relative;
        height: 37.5rem;
        cursor: pointer;

        &-img {
            background-color: #d4dade;
            height: 30rem;
            transition: all 0.2s ease-in-out;

            img {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &-icon {
            display: none;
            position: absolute;
            top: 12.4rem;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: all 0.5s ease-in-out;

            & img:hover {
                opacity: 0.9;
            }
        }

        &-text {
            background-color: #e1e6ea;
            padding: 15px 10px;
            transition: all 0.5s ease-in-out;
            height: 11rem;

            h3,
            p {
                text-align: left;
                font-size: 1.6rem;
                margin-left: 1.5rem;
            }

            h3 {
                color: #292f36;
                font-weight: 500;
                height: 2.5rem;
            }

            p {
                color: #a3a6a9;
            }
        }

        &:hover &-icon {
            display: block;
            opacity: 1;
        }

        &:hover &-text {
            background-color: #3a454d;

            h3,
            p {
                color: #fff;
            }
        }
    }
}

// <!-- ==========Tân: Part 4 End MEET THE TEAM ========== -->

// ========== Vinh: Part 5 - START LOVELY WORK ===========
.lovelyWork {
    background-color: #3a454d;
}

.work {
    padding: 5rem 0;
    text-transform: uppercase;
    text-align: center;

    &__title {
        text-align: left;
        font-size: 3.6rem;
        color: #fff;

        &::before {
            margin-right: 1rem;
            content: '';
            border: 0.6rem solid #4e5a62;
        }
    }

    &__button {
        text-transform: uppercase;
        background-color: #3a454d;
        font-size: 1.4rem;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 1rem 2rem;
        cursor: pointer;
        letter-spacing: 1px;
        transition: all 0.5s;

        &:hover {
            color: #000;
            border-color: #000;
        }
    }
}

.work__items {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover &-detail {
        opacity: 1;
    }

    &:hover &-title {
        opacity: 1;
        transform: translateY(0);
    }

    img {
        width: 100%;
        display: block;
    }

    &-detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        padding: 10rem 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        font-size: 2.5rem;
    }

    &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #292f36;
        color: white;
        width: 100%;
        padding: 2rem;
        transform: translateY(100%);
        transition: all 0.5s ease-in-out;

        h2 {
            font-size: 2rem;
        }
    }
}

/* Mobile: width < 740px */
@media (max-width: 576px) {

    .container,
    .container-sm {
        max-width: 720px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .work__items {
        &-detail {
            &-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(253.95px - 56.38px);
                line-height: 15rem;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        &-title {
            padding: 1rem;

            h2 {
                font-size: 1.6rem;
            }
        }
    }
}

// ========== Vinh: Part 5 - END LOVELY WORK ==========